#DJANGO
DJANGO_SECRET_KEY=django-insecure-change-this-key
DJANGO_DEBUG= True or False

#PostgreSQL
DB_NAME=database name
DB_USER=database_user
DB_PASSWORD=database_password
DB_HOST=database_host
DB_PORT=database_port

SUPERUSERPASSWORD=superuser_password